name: "Run tests"

on:
  push

jobs:
  run-tests:
    runs-on: ubuntu-24.04

    steps:
    - name: Update apt repos
      run: |
        sudo apt-get -y update

    - name: Install LaTeX basics
      run: |
        sudo apt-get -y install texlive

    - name: Install prerequisites for Inkscape drawings
      run: |
        sudo apt-get -y install inkscape

    - name: Install prerequisites for Gnuplot plots
      run: |
        sudo apt-get -y install gnuplot texlive texlive-fonts-extra texlive-science texlive-font-utils

    - name: Install prerequisites for ROOT plots
      run: |
        sudo apt-get -y install libtbb12 build-essential dpkg-dev cmake g++ gcc binutils libx11-dev libxpm-dev libxft-dev libxext-dev python3 libssl-dev
        cd /opt
        wget --no-verbose https://root.cern/download/root_v6.36.00.Linux-ubuntu24.04-x86_64-gcc13.3.tar.gz
        sudo tar xf root_v6.36.00.Linux-ubuntu24.04-x86_64-gcc13.3.tar.gz

    - uses: actions/checkout@v6

    - name: Run tests
      run: |
        . /opt/root/bin/thisroot.sh
        ./run_tests.sh

    - name: Upload PDF artifacts
      uses: actions/upload-artifact@v5
      with:
        name: test-PDFs
        path: test/*.pdf
